[Unit]
Description=NFC daemon
After=dbus.service android.service

[Service]
Type=simple
Environment=NFCD_NO_STOP_POLL_LOOP=1
ExecCondition=/bin/sh -c 'command -v getprop && [ "$(getprop ro.build.version.sdk)" -ge 28 ] || exit 1'
ExecCondition=/bin/sh -c 'sleep 0.5; setprop nfc.product.support.uicc true; android_shell.sh start nfc_hal_service; while [ "$(getprop init.svc.nfc_hal_service)" != "running" ]; do sleep 0.5; done'
ExecStart=/usr/sbin/nfcd -p /usr/lib/nfcd/plugins
BusName=org.sailfishos.nfc.daemon

[Install]
WantedBy=multi-user.target
